<!DOCTYPE html>
<!-- 需要引用该标签进行获取值 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
</head>
<body>
    <div>登录成功</div>
<!--    <div>用户名：${info.nickname}</div>-->
<!--    <div>用户头像：<img style="vertical-align: top" width="100" alt = "" src = "${info.headimgurl}"></div>-->
<!--    <div>openId：${info.openid}</div>-->
    <p th:text="${info.nickname}"></p>
</body>
</html>